@import './base.css';

#app {
  height: 100vh;
  margin: 0;
  font-weight: normal;
}

.bg-heading {
  background: var(--color-border);
}

.bg-color {
  background: var(--color-background);
}

.bg-soft {
  background: var(--color-background-soft);
}

.bg-mute {
  background: var(--color-background-mute);
}
